.book-details{
    height: 70vh;
    width: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-details::-webkit-scrollbar {
  display: none;
}

.book-img{
    height: 25vh;
    width: 16vw;
}
.book-details-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.favorite-button,
.amazon-store-link {
    width: 7em;
    height: 3em;
    background: none;
    border-radius: 50px;
    border: 1px solid #938673;
    color: #938673;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.unfavorite-button {
    width: 12em;
    height: 3.5em;
    background: #938673;
    border-radius: 50px;
    border: none;
    color: #fbf3ee;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.amazon-store-link {
    padding: 12px 0 0 0;
}

.favorite-button,
.unfavorite-button {
  margin-right: 8%;
}
