.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 2% 2%;
  background-color: #efe4d0;
  height: 87vh;
  border-radius: 50px;
  padding: 3% 3% 3% 3%;
  box-shadow: 8px 9px 1px #465a62, 12px 15px 5px #6b8393;
}
