.book-icon-container {
    display: flex;
    height: 17vh;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
  }
  
  .welcome-box {
    height: auto;
    width: 30vw;
    border: 2px solid black;
    border-radius: 16px;
    overflow: auto;
    /* overflow-wrap: break-word; */
  }
  
  .book-icon {
    height: 7rem;
  }